.navbar-default{
    background-color:blanchedalmond;
  background-image: none;
  background-repeat: no-repeat;
}
body{
    background-color: burlywood
}
th,label,strong{
    color: brown
}
.table-bordered td, .table-bordered th, .table-bordered{
    border-color: brown !important
}
.form-control{
    background-color: lavenderblush
}
