
    <div class="row">
  <div class="col-md-8 col-md-4">
        <p>Started on September 25, 2006, by well-known film actor Suriya, Agaram is the culmination of a strong belief that enlightening minds and empowering them is the only way for battling and eliminating social evils and uplifting the society. Agaram through its initiatives provides access not only for quality education, but also inculcates values, commitment and dedication to the society, thus helping to build a strong future for every child.</p>
<p>The seed for Agaram Foundation was first sown when a few like minded people came together to give shape to their dreams of transforming the society by equipping every child with education. The goal was to provide an opportunity for good quality education for deserving children in the rural areas and to create a platform to nurture their talents and provide them with opportunities to learn, develop and transform into a well-rounded individual.</p>
        </div>
        
        <aside>
            <div>
            <h2>Founder's Message</h2>
                <img src="app/images/founder.jpg" width="100" height="100">
            <p><small>"I strongly believe that we can eliminate social evils and uplift the society only through education. Through Agaram, we reach out to deserving students from most backward parts of the country and provide them with opportunities to not only complete their education, but also transform into confident, competent and socially responsible individuals.<br>Education has got the power to make a human civilized and face the challenges of life. Education is an answer to the economic imbalance of an individual, religion and caste divide that prevails in the society and could be an important factor that blocks the above being transferred to the next generation."<br>
             I am confident that the beneficiaries of Agaram, whom we nurture today, will soon become the much needed catalysts to bring about the positive transformation in their families, communities and society at large. -</small><strong> R.S. Suriya, Founder, Agaram Foundation</strong>

</p></div></aside>
</div>
    