<div class="modal-body row"><div class="col-md-6 pull-left">
    <address >
        <div class="title" style="color:brown">Address:</div><br>
        <strong class="fa fa-map-marker" aria-hidden="true">Agaram Foundation</strong><br>  
      29, Vijay Enclave Krishna Street, T.Nagar, Chennai - 600 017
        Tamil Nadu, India.</address>
    <div class="title" style="color:brown">Phones</div><br>
    <div>
    <i class="fa fa-phone" aria-hidden="true">+91 44 4350 6361</i><br>
     <i class="fa fa-mobile" aria-hidden="true">+91 98418 91000</i>
    </div><br>
     <div class="title" style="color:brown">Email us</div><br>
    <div>
    <i class="fa fa-envelope" aria-hidden="true">info@agaram.in</i>
</div>
    </div>
    <div class="col-md-6 pull-right">
        <h3 style="color:brown">For quick response</h3>
<form class="form-horizontal">
  <div class="form-group">
    <label for="Name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder=" Enter Your Name">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder=" Enter Your Email">
    </div>
    </div>
        <div class="form-group">
    <label for="Phone" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" placeholder=" Enter Your Phone number">
    </div>
    </div>
        <div class="form-group">
             <label for="comment" class="col-sm-2 control-label">Comment</label>
            <textarea class="form-control" rows="3" id="comment" placeholder="Enter your Query"></textarea>
    </div>
    <button type="button" class="btn btn-primary">Submit</button>

</form>
</div></div>

