<div class="modal-body row">
    <div class="col-md-4 pull-left">
    <p>The two successful key initiatives ofAgaram <span style="color:cyan">"Vidhai"</span> and <span style="color:cyan">"Vazhikatigal"</span> have benefitted hundreds of students in the rural parts of Tamilnadu, bringing about a significant change in their lives. Agaram is also planning to build a "Learning Center" to provide extensive training for the students.</p>
    <p>With strong support from people like you, Agaram is hopeful that its efforts will snow-ball and many more children will benefit from its initiative in the coming years.</p>
    <div>
        <table class = "table table-bordered">
   <caption style="color:brown">Funds received by Agaram via FCRA</caption>
   
   <thead>
      <tr>
         <th>Name & Address</th>
         <th>Date & Month of Receipts</th>
         <th>Amount<br>(in rupees)</th>
      </tr>
   </thead>
   
   <tbody>
      <tr>
         <td>Globelink West Star Shipping L.L.C
P.O. Box 6027, Dubai, United Arab Emirates </td>
         <td>31 Dec 2015 </td>
         <td>4,47,518</td>
      </tr>
      
      <tr>
         <td>Muthtamil Sangam Inc, P.O. Box 96105,
Balmoral 1342, Auckland. </td>
         <td>14 march 2016 </td>
         <td>5,83,094.37</td>
      </tr>
      
      <tr>
         <td>CINEGALAXY INC, 3905 RUTHRIDGE DR PLANO TX
750747785</td>
         <td>03 june 2016</td>
         <td>5,08,519.01</td>
      </tr>
   </tbody>
   
</table></div></div>
    <div class="col-md-4 pull-center">
        <h1 style="color:chartreuse">Our partners</h1>
    <ul>
        <strong style="color:brown"><i class="fa fa-graduation-cap fa-lg"></i>Educational Institutions</strong>
        <li>Aarupadai Veedu Institute of Technology – Chennai</li>
        <li>Apollo Group of Educational institutions – Chennai</li>
        <li>Apollo Hospitals - College of Nursing – Chennai</li>
        <li>Dr. M.G.R University - Chennai</li>
        <li>Hindustan College of Arts & Science - Coimbatore</li>
        <li>MAM Group of Institutions - Trichy</li>
        <li>PSNA College of Engineering and Technology – Dindigul</li>
        <li>Rajalakshmi Institutions – Chennai</li>
        <li>Roever Engineering College – Perambalur</li>
        <li>RVS College of Arts & Science - Coimbatore</li>
        <li>Sairam Group of Institutions</li>
        <li>Sathyabama University- Chennai</li>
        <li>Sri Krishna & VLB Institutions – Coimbatore</li>
        <li>SRM University - Chennai</li>
        <li>Vellore Institute of Technology – Vellore</li>
        <li>Venkataeswara Hospitals – Chennai</li>
        <li>Vels University – Chennai</li>
        </ul>
        <ul>
        <strong style="color:brown"><i class="fa fa-heart fa-lg"></i>Patrons</strong>
            <li>NAPC Properties Ltd – Chennai</li>
             <li>Ramraj Cotton - Tiruppur</li>
             <li>Sakthi Masala – Erode</li>
             <li>Saravana Stocks Pvt Ltd - Chennai</li>
             <li>Star Vijay TV</li>
             <li>Watertec (India) Pvt Ltd– Coimbatore</li>
             <li>Bank of India - Educational Loan Assistance</li>
        </ul>
        <ul style="list-style:none"><strong style="color:brown"><i class="fa fa-briefcase fa-lg">Corporate Partners</i></strong>
        <li><span style="color:cyan">Ford</span> has come forward to lend its support f or Agaram’s initiatives by providing, volunteers, Mentors, Internship and Training Opportunities for Agaram Beneficiaries.</li>
        </ul>
        <ul>
        <strong style="color:brown"><i class="fa fa-desktop fa-lg"></i>Training Partners</strong>
            <li>Dream Chasers – Chennai</li>
             <li>Rane Group – Chennai</li>
             <li>Shankar IAS Academy – Chennai</li>
             <li>SMART's Institute for Career Assurance – Chennai</li>
             <li>The ABK - AOTS DOSOKAI – Chennai</li>
             <li>Worldwide Education - Salem</li>
        </ul>
    </div>
    <div class="col-md-4 pull-right">
    <h2>Donors Registration</h2>
    <form class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Enter your Name">
    </div>
        </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Enter your Email">
    </div>
  </div>
  <div class="form-group">
    <label for="mobile" class="col-sm-2 control-label">Mobile</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="mobile" placeholder="Enter your Mobile number">
    </div>
  </div>
     <div class="form-group">
            <label for="gender" class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-10">
                <input type="radio" value="M" id="gender">Male<br>
                <input type="radio" value="F" id="gender">Female<br>
                <input type="radio" value="TG" id="gender">Trans Gender
            </div>
        </div>
    <div class="form-group">
            <label for="state" class="col-sm-2 control-label">State</label>
            <div class="col-sm-10">
                <select class="form-control">
                    <option value="">Please Select</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="district" class="col-sm-2 control-label">District</label>
            <div class="col-sm-10">
                <select class="form-control">
                    <option value="">Please Select</option>
                </select>
            </div>
        </div>
         <div class="form-group">
             <label for="address" class="col-sm-2 control-label">Address</label>
            <textarea class="form-control" rows="3" id="address" placeholder="Enter your Address"></textarea>
    </div>
   <div class="form-group">
        <label for="education" class="col-sm-2 control-label">Education</label>
        <div class="col-lg-12">
       <select class="form-control">
    <option value="">Please select</option>
    <option value="one">U.G arts and science</option>
    <option value="two">U.G professional degree</option>
    <option value="three">P.G arts and science</option>
    <option value="four">P.G proffesional degree</option>
</select>
       </div>
        </div>
        <div class="form-group">
        <label for="occupation" class="col-sm-2 control-label">Occupation</label>
        <div class="col-lg-12">
       <select class="form-control">
    <option value="">Please select</option>
    <option value="one">Self employed</option>
    <option value="two">Employed</option>
    <option value="three">Student</option>
    <option value="four">Retired</option>
    <option value="four">Others</option>
</select>
            </div>
        </div>
        <div class="form-group">
             <label for="additional" class="col-sm-2 control-label">Additional details</label>
            <textarea class="form-control" rows="3" id="address" placeholder="How you know about Agaram"></textarea>
    </div>
        
    </form>
    <div class="form-group">
                <div class="col-sm-10">

    <button type="button" class="btn btn-primary">Submit</button>
        </div>
</div>
    </div>
</div>