<footer class="footer fixed-bottom">
    <div class="container text-center" style="color:grey">
        <small  class="copyright">Copyright &copy 2016 Agaram foundations.All Rights Reserved.</small>
        <div class="container text-center"><a href="https://plus.google.com/u/0/116368848466617622188" target="_blank"><small style="color:grey" class="fa fa-lg fa-google-plus"></small></a>
            <a href="https://twitter.com/agaramvision" target="_blank"><small style="color:grey" class="fa fa-lg fa-twitter"></small></a>
            <a href="https://www.facebook.com/agaramfoundation/" target="_blank"><small style="color:grey" class="fa fa-lg fa-facebook"></small></a></div>
    </div><!--End container-->
</footer><!--End footer 2-->