<div class="modal-body row">
<div class="col-md-4 pull-left">
    <p>Agaram is one such initiative that aims to provide quality education and equal opportunities to the under-privileged children. Agaram, which denotes "A", the first letter in all languages thrives to bridge the gaps in providing high quality education, for the rural children from interiors parts of Tamilnadu.</p>
    <div class="title"><strong>Vision</strong>
    </div>
    <div>
    <p>"To bring about a significant positive change in the socio-economic status of the rural society by offering quality education to the deserving individual"</p></div></div>
    <div class="col-md-4 pull-left pull-center">
        <strong>Organisational structure</strong>
        <div>
        <img src="app/images/organisation-structure.jpg" width="300" height="230"></div>
    </div>
    <div class="col-md-4 pull-right">
        <strong>How many benifitted so far</strong>
    <p>In the last 5 years the foundation has supported nearly 1000 students to realise their dream of getting a good college education and becoming competent individuals.</p>
    <p>The foundation has helped to produce number of doctors, engineers, lawyers and other professionals. With the help of many patrons, these students have been successfully placed in many leading organisations, thus kick-starting the change that is much needed. Today many of our student beneficiaries volunteer their time and energy to mentor the students who are currently supported by Agaram.</p></div>
</div>