<div class="modal-body row">
<div class="col-md-4 pull-left">
    <strong>Agaram Employability programme</strong>
    <div><p>Agaram realises that student employability as a core to their success, hence has taken the responsibility of preparing the students for the world of work. Agaram Employability Program is designed to be forward looking and is backed by industry research, guided by experts from various walks of life and supported by a team of energetic volunteers. This innovative and ambitious program is designed to equip the student to well-adjust, perform and succeed in the competitive corporate world.</p>
    <p>This program focuses on bridging the gaps in employability by fine tuning the skills of the student and maximising their chances to find suitable employment and aims to integrate academic knowledge, skills and attributes with the skills of personal and professional development, lifelong learning and career management to enable graduates to become employee of choice.</p>
    </div>
    The training is multi-dimensional covering
    <ol type="a">
    <li><strong>Basic Training</strong><p>-Communication Skills, Process Skills, Personality Development & Interview Skills</p></li>
    <li><strong>Value Added Training</strong><p> – Vocational Training, Computer Skills, Certification Programs, Specialised Courses, Multiple Language Skills, Bank & Civil Services Training</p></li>
    <li><strong>Industry Orientation</strong><p>– In-plant Training, Project Work, Internship Opportunities, Government Aides Standard Industrial Training, Chartered Accountancy. Special Certification Courses</p></li>
    <li><strong>Corporate Partnership</strong><p>Identifying students, grooming and training them and later absorbing them in the organisation</p></li>
    </ol>
    </div>
    <div class="col-md-4 pull-center">
    <table class="table">

              <tr class="active">

                <td class="warning"><strong>September 2006</strong></td>

                <td>Started by well-known film actor R.S Suriya </td>

              </tr>

              <tr>

                <td class="warning"><strong>Jun 2007</strong></td>

                <td>Adoption of The Government Adidravida Welfare School in Palur, Chengalpattu 

                  district <br>

                  Set-up a library in the school </td>

              </tr>

              <tr class="active">

                <td class="warning"><strong>May 2008</strong></td>

                <td>Produced and released "Herova... Zerova", a short film emphasising the need for 

                  education </td>

              </tr>

              <tr>

                <td class="warning"><strong>June 2008</strong></td>

                <td>Launch of "Agaram Katral Maiyam", the learning centres to provide basic coaching and special skills programs for children in rural parts of Tamilnadu.</td>

              </tr>

              <tr class="active">

                <td class="warning"><strong>Nov 2008 </strong></td>

                <td>Agaram website launch</td>

              </tr>

              <tr>

                <td class="warning"><strong>April 2009 </strong></td>

                <td>Launch of "Vazhikatigal", the mentorship program focussed on nurturing school 

                  children from remote parts of Tamilnadu </td>

              </tr>

              <tr class="active">

                <td class="warning"><strong>January 2010</strong></td>

                <td>Vidhai" (Tamil word that meaning "Seed"), an initiative with the goal to create 

                  awareness for Agaram's initiatives and increase participation <br>

                  Scouting for deserving students to help them with college education under 

                  "Vidhai" banner </td>

              </tr>

              <tr>

                <td class="warning"><strong>June 2010</strong></td>

                <td>First batch of 160 students from 35 districts of Tamilnadu benefitting from Vidhai</td>

              </tr>

              <tr class="active">

                <td class="warning"><strong>June 2011</strong></td>

                <td>217 students selected to join colleges, supported by "Vidhai"</td>

              </tr>

              <tr>

                <td class="warning"><strong>June 2012</strong></td>

                <td>128 students supported for college education by "Vidhai"</td>

              </tr>

              <tr class="active">

                <td class="warning"><strong>June 2013</strong></td>

                <td>194 students selected by "Vidhai" for college education support<br>

                  10 Agaram beneficiaries completed their courses and graduated</td>

              </tr>

              <tr>

                <td class="warning"><strong>June 2014</strong></td>

                <td>225 students supported by "Vidhai" for college education<br>

                  Agaram beneficiaries completed their courses and graduated</td>

              </tr>

            </table></div>
    <div class="col-md-4 pull-center">
    <strong>Agaram Training Centre</strong>
    <div><p>Agaram currently conducts all its trainings, workshops and events at different venues provided by our sponsors. We conduct these workshops and trainings for Agaram students only but in the future we would like to extend our operations to many more deserving youngsters who still remain beyond our reach. We would like to bring about a significant positive change in the socio-economic status of the rural society through education and skill development, train and groom the underprivileged and unskilled youth in Industry skills enabling them to choose the path to respect, dignity, success and a self-sustained livelihood.</p>
        <p>With these future plans in mind, Agaram has initiated the construction of a Training Centre at Madhuranthagam, near Chennai. The architects from Tapasya Design Studio, Auroville have volunteered to provide their design expertise and are working closely with Agaram Alumni. On completion, this project will be managed and run by volunteers of Agaram and its Alumni. This facility will be used to conduct workshops, events and training for Agaram Students, additionally it will also be available to promote sustainable rural development initiatives like:</p>
        <ul style="list-style:disc">
        <li>Industry Skills training</li>
        <li>Self-Employment Training</li>
        <li>Training in hygiene, sanitation, health and nutrition</li>
        <li>Social entrepreneurship</li>
        <li>Corporate CSR training programs</li>
        <li>Teacher Training for rural schools</li>
        <li>Social awareness programs</li>
        </ul></div></div>
</div>