<div class="modal-body row">
<div class="col-md-4 pull-left">
    <strong style="color:brown">How Agaram helps</strong>
    <p>Agaram reaches out to deserving students from most backward parts of the country and provide them with an opportunity to complete their education. Agaram believes that equal education is a powerful 'change agent'. Hence, many tailor-made programs have been created, focussing on equipping children with the skills to overcome the challenges and help them emerge as a confident and competent individual.</p>
    <p>Quarterly workshops on soft skills development and social awareness, personality development sessions, value education, communication, interpersonal skills and collaboration sessions are conducted for the students at regular intervals.</p>
    <p>These programs & workshops are designed by professionals, who come forward from various industries and walks-of-life, to share their experience and expertise with the student. Agaram also creates opportunities for the students to meet up with successful people who have come from similar backgrounds and made it in life. These meetings are a great motivator for the children and give them the much needed confidence and hope.</p>
    <strong style="color:brown">Who benifits</strong>
    <p>Students who approach Agaram for educational support come from various walks of life from both rural and urban areas. They are mostly from challenging family backgrounds with limited financial support. They are also constrained by communal practices such as resistance to educating the girl child, underage marriage, child labour, single / disabled / addicted parents who are ignorant of the value of education, posing significant threats and obstacles for the child to overcome.</p>
    <p>Agaram assists students from such backgrounds, by providing them the opportunities that will bring about a change in their lives.</p>
    </div>
<div class="col-md-4 pull-center">
    <h1 style="color:green">Infographics</h1>
    <div style="color:brown"><i class="fa fa-pencil fa-2x"></i><h4 style="color:darkcyan">Overall Applicants - 37419</h4></div>
    <div style="color:brown"><i class="fa fa-users fa-2x"></i><h4 style="color:darkcyan">In Person Screened - 13237</h4></div>
    <div style="color:brown"><i class="fa fa-user fa-2x"></i><h4 style="color:darkcyan">Students selected 1490</h4></div>
    <div style="color:brown"><i class="fa fa-thumbs-o-up fa-2x"></i><h4 style="color:darkcyan">Graduated Students 550+</h4></div>
    <h1 style="color:green">Agaram's Contribution to Society</h1>
    <div style="color:brown"><i class="fa fa-bookmark fa-2x"></i><h4 style="color:darkcyan">Engineers - 769</h4></div>
    <div style="color:brown"><i class="fa fa-bookmark fa-2x"></i><h4 style="color:darkcyan">Doctors - 44</h4></div>
    <div style="color:brown"><i class="fa fa-bookmark fa-2x"></i><h4 style="color:darkcyan">Para Medics - 86 </h4></div>
    <div style="color:brown"><i class="fa fa-bookmark fa-2x"></i><h4 style="color:darkcyan">Lawyers - 4</h4></div>
    <div style="color:brown"><i class="fa fa-bookmark fa-2x"></i><h4 style="color:darkcyan">Arts & Science Graduates - 450</h4></div>
    <div style="color:brown"><i class="fa fa-bookmark fa-2x"></i><h4 style="color:darkcyan">Agriculturists - 8 </h4></div>
    <div style="color:brown"><i class="fa fa-bookmark fa-2x"></i><h4 style="color:darkcyan">Diploma Holders - 38</h4></div>
    <div style="color:brown"><i class="fa fa-bookmark fa-2x"></i><h4 style="color:darkcyan">B.Ed - 7 </h4></div>
    <div style="color:brown"><i class="fa fa-bookmark fa-2x"></i><h4 style="color:darkcyan">Hotel Management - 6</h4></div>
        <div style="color:brown"><i class="fa fa-bookmark fa-2x"></i><h4 style="color:darkcyan">Nursing - 78</h4></div>
    </div>
    <div class="col-md-4 pull-right">
        <strong style="color:brown">How Agaram selects</strong>
        <p>Every year we receive thousands of applications requesting financial help for higher education. We have a rigorous scoring system in place to identify deserving students. We assist students with the Application and Admission processes. We also help them with other logistics operations like accommodation, mess fees etc.</p>
        <h4 style="color:brown">Selection: The selection process consists of four stages:</h4>
        <ul>
        <li><strong style="color:brown">Receiving Applications:</strong>Agaram receives applications from students, from all over Tamilnadu. These applications are reviewed and the deserving students who come from Government Schools across rural Tamilnadu and are first generation College goers are short-listed.</li>
        <li><strong style="color:brown">Personal Interview:</strong>The students who are shortlisted are called for a personal interview, for which they are asked to be present along with their parent or guardian. The personal interview is conducted to assess the student’s attitude and willingness to study further. The genuineness of the details provided by the student/parent or guardian is also verified during the interview.</li>
        <li><strong style="color:brown">House Visit:</strong>The purpose of house visit is to assess the information and verify the facts provided by the student and their parent/guardian during the personal interview. The financial background and the life style of the student’s family are also assessed during the visit. Volunteers doing the House visit, fill in forms to mention whether there is electricity facility or not, residing house is hut/tile roof/concrete, educational qualification of the parents and siblings, father alcoholic or not etc. Weightage points are given to these parameters at a later stage.</li>
        <li><strong style="color:brown">Scoring and Selection:</strong>The final list of students for the given academic year would be determined by the socio economic scoring against various parameters filled during House visit, along with their academic scores in X & XII exams.</li>
        </ul>
        <h4 style="color:brown">Career Guidance & Admission Process:</h4>
        <p>Students selected by the foundation are given awareness of all the choices and the scope of choice available to them. They are provided with all the details, so that they make an informed decision.</p>
         <h4 style="color:brown">Collecting Information on Courses & Colleges:</h4>
        <p>A team of volunteers work parallelly to gather information, about the courses and their availability, from colleges across Tamilnadu. Details like course fee, facilities are analysed, recorded and updated and the scope and placement opportunities for the Courses are also collected.</p>
         <h4 style="color:brown">Admission Guidance – Course & College Selection:</h4>
        <p>Admission Guidance process carried out within Agaram to evaluate and group the students into Arts & Science and Professional streams. This process consists of</p>
        <ol type="a">
            <li>familiarising the student with course by providing complete information</li>
            <li>assisting the student to choose the right course based on his / her past performance, aptitude and interest</li>
            <li>Evaluate the eligibility of the student based on the marks scored in the final exams</li>
        </ol>
        <p>Volunteers then contact the students and inform them on their selection and then based on Agaram’s admission guidelines, the student wins the Agaram sponsorship.</p>
        <h4 style="color:brown"> Admission to College & Hostel:</h4>
        <p>Agaram then assists the Student with the College and Hostel Admission process and complete admission formalities to be admitted in the chosen college.</p>
    </div>
</div>