<div class="modal-body row">
<div class="col-md-6 pull-left">
    <p>Agaram is a participative drive, where likeminded people come together to help an under-privileged child reach his / her full potential through education. If you are someone who wants to make a difference in the life of a child, you can do that by contributing your time for our various initiatives. Agaram is an organisation that is completely run by volunteers. Volunteers are the pillars of strength for Agaram and they play a key role in every part of Agaram’s initiatives. Many of our projects would not be successful without their continuing support and contribution.</p>
    <p>Agaram also provides individualistic attention to every student through the mentorship program, by connecting every student with a mentor, who is not a parent or a teacher but someone who believes in the importance of education and the student’s ability to achieve. You can become a Mentor, if you have the inclination and the time.</p>
    <p>We do have an elaborate selection process to understand how you can partner with us, so that we mutually benefit from the engagement. Selected Volunteers and Mentors are then put through a training process, before they are deployed to support our various initiatives.</p></div>
<div class="col-md-6 pull-right">
    <h2 style="color:brown">Volunteers Registration</h2>
    <form class="form-horizontal" name="volunteer" ng-controller="volunteerCtrl" novalidate>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name" ng-model="volunteerDetails.name" alphabets-only stopccp ng-required="true" ng-show-options="{update on:'blur'}">
        <div  ng-show="volunteer.name.$dirty">
            <p style="color:red" ng-show="volunteer.name.$error.required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Name required</p>
        </div>
      </div>
        </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" ng-model="volunteerDetails.email" ng-required="true" stopccp ng-show-options="{update on:'blur'}" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
        <div ng-show="volunteer.email.$dirty">
            <p style="color:red" ng-show="volunteer.email.$error.required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Email id required</p>
            <p style="color:red" ng-show="volunteer.email.$error.pattern"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Invalid Email</p>
            </div>gfgfhhgrjfhgfjhfhgfhfghgfjghg
    </div>
  </div>
  <div class="form-group">
    <label for="mobile" class="col-sm-2 control-label">Mobile</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter your Mobile number" ng-model="volunteerDetails.mobile" ng-required="true" stopccp ng-show-options="{update on:'blur'}" ng-pattern="/^[0-9]*$/" ng-minlength="10" ng-maxlength="10">
        <div ng-show="volunteer.mobile.$dirty">
            <p style="color:red" ng-show="volunteer.mobile.$error.required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Mobile number required</p>
        <p style="color:red" ng-show="volunteer.mobile.$error.pattern"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Enter numbers only</p>
            <p style="color:red" ng-show="volunteer.mobile.$error.maxlength"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Please enter valid mobile number</p>
        </div>
    </div>
  </div>
        <div class="form-group">
    <label for="dob" class="col-sm-2 control-label">Date of Birth</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="dob" datepicker name="DoB" placeholder="Enter your Date of Birth" ng-model="volunteerDetails.DoB" ng-required="true" stopccp ng-show-options="{update on:'blur'}" datepicker maxdate="0">
        <div ng-show="volunteer.DoB.$dirty">
            <p style="color:red" ng-show="volunteer.DoB.$error.required"><i class="fa fa-exclamation-triangle" aria-hidden="true">Date of Birth required</i></p></div>
        </div>
    </div>
     <div class="form-group">
            <label for="gender" class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-10">
                <input type="radio" value="M" id="gender" name="gender" ng-model="volunteerDetails.gender" ng-required="true">Male<br>
                <input type="radio" value="F" id="gender" name="gender" ng-model="volunteerDetails.gender" ng-required="true">Female<br>
                <input type="radio" value="TG" id="gender" name="gender" ng-model="volunteerDetails.gender" ng-required="true">Trans Gender
                <div ng-show="volunteer.gender.$dirty">
                <p ng-show="volunteer.gender.$error.required">Gender is Required</p></div>
            </div>
        </div>
    <div class="form-group">
            <label for="state" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
                <select class="form-control" ng-change="loadStatesByCountry()" ng-model="volunteerDetails.country"
                    ng-options ="country.name for country in countries" name="country" ng-required="true">
                    <option value="">Please Select</option>
                    <div ng-show="volunteer.country.$dirty">
                    <p ng-show="volunteer.country.$error.required">Please select country</p></div>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="district" class="col-sm-2 control-label">State</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model=volunteerDetails.state name="state" ng-options ="state.name for state in states" ng-required="true">
                    <option value="">Please Select</option>
                    <div ng-show="volunteer.name.$dirty">
                    <p ng-show="volunteer.name.$error.required">state is required</p></div>
                </select>
            </div>
        </div>
         <div class="form-group">
             <label for="address" class="col-sm-2 control-label">Address</label>
            <textarea class="form-control" rows="3" id="address" name="address" placeholder="Enter your Address" ng-model="volunteerDetails.address" ng-required="true" ng-show-options="{update on:'blur'}"></textarea>
             <div ng-show="volunteer.address.$dirty">
                 <p style="color:red" ng-show="volunteer.address.$error.required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Address is required</p></div>
    </div>
   <div class="form-group">
        <label for="education" class="col-sm-2 control-label">Education</label>
        <div class="col-sm-10">
       <select class="form-control"  ng-model="volunteerDetails.education" name="education" ng-required="true" ng-show-options="{update on:'blur'}">
    <option value="">Please select</option>
    <option value="ugArts" name="education" id="education">U.G arts and science</option>
    <option value="ugPd" name="education" id="education">U.G professional degree</option>
    <option value="pgA" name="education" id="education">P.G arts and science</option>
    <option value="ugA" name="education" id="education">P.G proffesional degree</option>
           <div ng-show="volunteer.education.$dirty">
               <p ng-show="volunteer.education.$error.required">Education is required</p></div>
</select>
       </div>
        </div>
        <div class="form-group">
        <label for="occupation" class="col-sm-2 control-label">Occupation</label>
        <div class="col-sm-10">
       <select class="form-control" ng-model="volunteerDetails.occupation" name="occupation" ng-required="true" ng-show-options="{update on:'blur'}">
    <option value="">Please select</option>
    <option value="se">Self employed</option>
    <option value="e">Employed</option>
    <option value="student">Student</option>
    <option value="retired">Retired</option>
    <option value="o">Others</option>
           <div ng-show="volunteer.occupation.$dirty">
               <p ng-show="volunteer.occupation.$error.required">Occupation is required</p></div>
</select>
            </div>
        </div>
        <div class="form-group">
     <label for="experience" class="col-sm-2 control-label">Volunteering Experience</label>
            <div class="col-sm-12">
      <input type="radio" value="Y" id="experience" name="experience" ng-model="volunteerDetails.experience" ng-required="true">Yes<br>
      <input type="radio" value="N" id="experience" name="experience" ng-model="volunteerDetails.experience" ng-required="true">No<br>
                <div ng-show="volunteer.experience.$dirty">
                <p ng-show="volunteer.experience.$error.required"></p></div>
</div>
        </div>
        <div class="form-group alert">
                <div class="col-sm-10">

    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top " title="Register" ng-click="registerVolunteer()" ng-disabled="!volunteer.name.$prestine && volunteer.name.$invalid || !volunteer.email.$prestine && volunteer.email.$invalid || !volunteer.mobile.$prestine && volunteer.mobile.$invalid || !volunteer.address.$prestine && volunteer.address.$invalid || !volunteer.gender.$prestine && volunteer.gender.$invalid || !volunteer.experience.$prestine && volunteer.experience.$invalid || !volunteer.occupation.$prestine && volunteer.occupation.$invalid || !volunteer.education.$prestine && volunteer.education.$invalid  || !volunteer.country.$prestine && volunteer.country.$invalid  || !volunteer.state.$prestine && volunteer.state.$invalid">Register</button>
        </div>
</div>
    </form>
    
    </div>
</div>
