<div class="modal-body row">
<div class="col-md-6 pull-left">
    <p>Agaram is a participative drive, where likeminded people come together to help an under-privileged child reach his / her full potential through education. If you are someone who wants to make a difference in the life of a child, you can do that by contributing your time for our various initiatives. Agaram is an organisation that is completely run by volunteers. Volunteers are the pillars of strength for Agaram and they play a key role in every part of Agaram’s initiatives. Many of our projects would not be successful without their continuing support and contribution.</p>
    <p>Agaram also provides individualistic attention to every student through the mentorship program, by connecting every student with a mentor, who is not a parent or a teacher but someone who believes in the importance of education and the student’s ability to achieve. You can become a Mentor, if you have the inclination and the time.</p>
    <p>We do have an elaborate selection process to understand how you can partner with us, so that we mutually benefit from the engagement. Selected Volunteers and Mentors are then put through a training process, before they are deployed to support our various initiatives.</p></div>
<div class="col-md-6 pull-right">
    <h2>Volunteers Registration</h2>
    <form class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Enter your Name">
    </div>
        </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Enter your Email">
    </div>
  </div>
  <div class="form-group">
    <label for="mobile" class="col-sm-2 control-label">Mobile</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="mobile" placeholder="Enter your Mobile number">
    </div>
  </div>
        <div class="form-group">
    <label for="dob" class="col-sm-2 control-label">Date of Birth</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="dob" placeholder="Enter your Date of Birth">
        </div>
    </div>
     <div class="form-group">
            <label for="gender" class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-10">
                <input type="radio" value="M" id="gender">Male<br>
                <input type="radio" value="F" id="gender">Female<br>
                <input type="radio" value="TG" id="gender">Trans Gender
            </div>
        </div>
    <div class="form-group">
            <label for="state" class="col-sm-2 control-label">State</label>
            <div class="col-sm-10">
                <select class="form-control">
                    <option value="">Please Select</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="district" class="col-sm-2 control-label">District</label>
            <div class="col-sm-10">
                <select class="form-control">
                    <option value="">Please Select</option>
                </select>
            </div>
        </div>
         <div class="form-group">
             <label for="address" class="col-sm-2 control-label">Address</label>
            <textarea class="form-control" rows="3" id="address" placeholder="Enter your Address"></textarea>
    </div>
   <div class="form-group">
        <label for="education" class="col-sm-2 control-label">Education</label>
        <div class="col-sm-10">
       <select class="form-control">
    <option value="">Please select</option>
    <option value="one">U.G arts and science</option>
    <option value="two">U.G professional degree</option>
    <option value="three">P.G arts and science</option>
    <option value="four">P.G proffesional degree</option>
</select>
       </div>
        </div>
        <div class="form-group">
        <label for="occupation" class="col-sm-2 control-label">Occupation</label>
        <div class="col-sm-10">
       <select class="form-control">
    <option value="">Please select</option>
    <option value="one">Self employed</option>
    <option value="two">Employed</option>
    <option value="three">Student</option>
    <option value="four">Retired</option>
    <option value="four">Others</option>
</select>
            </div>
        </div>
        <div class="form-group">
     <label for="experience" class="col-sm-2 control-label">Volunteering Experience</label>
            <div class="col-sm-10">
  <input type="checkbox" id="yes" value="option1"> Yes<br>
  <input type="checkbox" id="no" value="option2"> No
</div>
        </div>
    </form>
    <div class="form-group">
                <div class="col-sm-10">

    <button type="button" class="btn btn-primary">Submit</button>
        </div>
</div>
    </div></div>